$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

header {
    padding: 156px 0 100px;
  }
  
section {
    padding: 150px 0;
  }